version: '3.9'

services:
  backend:
    build: .
    container_name: django_app
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./core:/app
    environment:
      - SECRET_KEY=STRONG_SECRET_KEY_FOR_DEVELOPMENT
      - DEBUG=True
      - ALLOWED_HOSTS=*
  smtp4dev:
      image: rnwood/smtp4dev:v3
      restart: always
      ports:
        - '5000:80'
        - '25:25'
        - '143:143'
        - '110:110'
      volumes:
          - smtp4dev-data:/smtp4dev
      environment:


        - ServerOptions__Urls=http://*:80

        - ServerOptions__HostName=smtp4dev


volumes:
        smtp4dev-data: